.nav {
  grid-area: n;
  background-color: greenyellow;
  padding: 20px;
  border-radius: 20px;
}

.item {
  color: aliceblue;
  margin: 10px 0;
  text-decoration: none;
}

.active {
  color: gold;
}
